<mat-toolbar color="primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 fontsize-3">
        <a mat-button href="" class="navbar-brand">
          Uni Hardware
          <mat-icon style="width: 20px; height: 20px;">desktop_windows</mat-icon>
        </a>
      </div>
      <div class="col fontsize-5 text-center">
        <a mat-button href="" class="nav-link ms-5">
          Periféricos
        </a>
        <a mat-button href="" class="nav-link ms-5">
          Hardware
        </a>
        <a mat-button href="" class="nav-link ms-5">
          
        </a>
      </div>
      <div class="col-2 fontsize-5 text-center">
        <a mat-button href="" class="nav-link">
          <mat-icon class="align-middle">shopping_cart</mat-icon>
        </a>
        <a mat-button href="" class="nav-link">
          <span>Login</span>
          <mat-icon class="align-middle">login</mat-icon>
        </a>
      </div>
    </div>
  </div>
</mat-toolbar>