<div class="form-container">
    <mat-card>
        <mat-card-title class="centered-toolbar" style="padding: 25px;">Login</mat-card-title>
        <mat-card-content>
            <form [formGroup]="formGroup">

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" />
                    <mat-error *ngIf="formGroup.get('email') &&
                formGroup.get('email')?.invalid &&
                formGroup.get('email')?.touched">
                        email é obrigatória.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Senha</mat-label>
                    <input matInput type="text" formControlName="senha" />
                    <mat-error *ngIf="formGroup.get('senha') &&
                formGroup.get('senha')?.invalid &&
                formGroup.get('senha')?.touched">
                        senha é obrigatória.
                    </mat-error>
                </mat-form-field>

            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="login()" [disabled]="formGroup.invalid">
                Salvar
            </button>
            <button mat-raised-button routerLink="/table">
                Cancelar
            </button>
        </mat-card-actions>
    </mat-card>
</div>