<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome" />
                    <mat-error *ngIf="formGroup.get('nome') &&
                formGroup.get('nome')?.invalid &&
                formGroup.get('nome')?.touched">
                        nome é obrigatória.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Marca</mat-label>
                    <input matInput type="text" formControlName="marca" />
                    <mat-error *ngIf="formGroup.get('marca') &&
                formGroup.get('marca')?.invalid &&
                formGroup.get('marca')?.touched">
                        marca é obrigatória.
                    </mat-error>
                </mat-form-field>

            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="salvar()" [disabled]="formGroup.invalid">
                Salvar
            </button>
            <button mat-raised-button *ngIf="formGroup?.get('id')?.value" color="warn" (click)="excluir()"
                [disabled]="formGroup.invalid">
                Excluir
            </button>
            <button mat-raised-button routerLink="/table">
                Cancelar
            </button>
        </mat-card-actions>
    </mat-card>
</div>